select(data-bind="options:places, optionsCaption:'Choose..', optionsText:'name', value:chosenPlace, event:{change:placeSelectHandler}")
p(data-bind="with:chosenPlace") 
	//- You have zoomed to 
	span(data-bind="text:name")
//- div(class="like-or-dislike" data-bind="visible: !chosenValue()")
//- 	button(data-bind="click: like") Like it
//- 	button(data-bind="click: dislike") Dislike it
//- div(class="result" data-bind="visible: chosenValue") You
//- 	strong(data-bind="text: chosenValue") | it.
//- 	| And this was loaded from an external file.
