div.map.dijitHidden(data-bind="event: { mousedown: setActiveMap }")
	div(class="basemap-gallery-titlepane-holder dijitHidden")
		//- div(data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Basemap', closable:false, open:true")
		//-	div(data-dojo-type="dijit/layout/ContentPane" class="basemap-contentpane")				
		div(data-dojo-type="dijit/form/DropDownButton")
			span() Basemaps
			div(data-dojo-type="dijit/TooltipDialog")
				div.basemap-gallery-container(style="width:300px;height:200px;overflow:auto")
					div.basemap-gallery()
	div(class="legend-titlepane-holder")
		//-div(data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Legend', closable:false, open:true")
			//-div(data-dojo-type="dijit/layout/ContentPane" class="legend-contentpane")			
		div(data-dojo-type="dijit/form/DropDownButton")
			span() Legend
			div(data-dojo-type="dijit/TooltipDialog")
				div.legend-container()
					div.legend()
	zoom-to-place-widget(params="value: null")

