
<div class="map-container">
  <div id="map">
    <div class="basemap-gallery-titlepane-holder">
      <div data-dojo-type="dijit/TitlePane" id="basemap-gallery" data-dojo-props="title: 'Basemap', closable:false, open:true">
        <div data-dojo-type="dijit/layout/ContentPane" class="basemap-contentpane">
          <div class="basemap-gallery-container">
            <div class="basemap-gallery"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="legend-titlepane-holder">
      <div data-dojo-type="dijit/TitlePane" id="legend-gallery" data-dojo-props="title: 'Legend', closable:false, open:true">
        <div data-dojo-type="dijit/layout/ContentPane" class="legend-contentpane">
          <div class="legend-container">
            <div class="legend"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>