.map-container
	background-color orange !important
	position relative
	width 100%
	height 100%
	
.map.show-1
	width 100%
	height 100%
	
.map.show-2
	width 50%
	height 100%
	display inline-block
	
.map.show-3
	width 33.33%
	height 100%
	display inline-block
	
	
.basemap-gallery-titlepane-holder
	position absolute
	right 10px
	top 10px
	z-index 10
	
	
	
.basemap-contentpane
	width 200px
	height 200px
	

.legend-titlepane-holder
	position absolute
	bottom 10px
	left 10px
	z-index 10
	
.basemap-contentpane
	width 200px
	height 200px

	
.legend
	width 100%
	position absolute
	right 0px
	top 0px
	bottom 0px
	left 0px
	