.map-container
	background-color orange !important
	position absolute
	right 0
	left 0
	bottom 0
	top 60px

.map
	box-sizing border-box
	border 1px solid #CCC
	
.map.show-1
	position absolute
	top 0
	right 0
	left 0
	bottom 0
//2 maps	
.map.show-2
	position absolute
	top 0
	bottom 0
	width 50%

.map.show-2:nth-child(2)
	position absolute
	right 0
	bottom 0
	width 50%

//3 maps	

.map.show-3:nth-child(1)
	position absolute
	top 0
	right 0
	height 50%
	width 100%

.map.show-3:nth-child(2)
	position absolute
	left 0
	bottom 0
	width 50%
	height 50%
	
.map.show-3:nth-child(3)
	position absolute
	right 0
	bottom 0
	width 50%
	height 50%
	

//4 maps	

.map.show-4:nth-child(1)
	position absolute
	top 0
	left 0
	height 50%
	width 50%

.map.show-4:nth-child(2)
	position absolute
	top 0
	right 0
	width 50%
	height 50%
	
.map.show-4:nth-child(3)
	position absolute
	left 0
	bottom 0
	width 50%
	height 50%
	
.map.show-4:nth-child(4)
	position absolute
	right 0
	bottom 0
	width 50%
	height 50%
	

.basemap-gallery-titlepane-holder
	position absolute
	right 10px
	top 10px
	z-index 10
	
.basemap-gallery
	width 100%
	position absolute
	right 0px
	top 0px
	bottom 0px
	left 0px

.legend-titlepane-holder
	position absolute
	bottom 10px
	left 10px
	z-index 10
	
.basemap-contentpane
	width 200px
	height 200px

	
.legend
	width 100%
	position absolute
	right 0px
	top 0px
	bottom 0px
	left 0px
	