.map-container
	background-color orange !important
	position absolute
	right 0
	left 0
	bottom 0
	top $headerHeight

.map
	box-sizing border-box
	border 2px solid #CCC
	
	.esriSimpleSlider
		opacity 0.2
	
.map.selected-map
	box-sizing border-box
	border 2px solid yellow
	
	.esriSimpleSlider, .locationButton, .HomeButton, .syncMaps
		opacity 1.0
	
	
.map.show-1
	position absolute
	top 0
	right 0
	left 0
	bottom 0
//2 maps	
.map.show-2
	position absolute
	top 0
	bottom 0
	width 50%

.map.show-2:nth-child(2)
	position absolute
	right 0
	bottom 0
	width 50%

//3 maps	

.map.show-3:nth-child(1)
	position absolute
	top 0
	bottom 0
	height 100%
	width 50%

.map.show-3:nth-child(2)
	position absolute
	right 0
	top 0
	width 50%
	height 50%
	
.map.show-3:nth-child(3)
	position absolute
	right 0
	bottom 0
	width 50%
	height 50%
	

//4 maps	

.map.show-4:nth-child(1)
	position absolute
	top 0
	left 0
	height 50%
	width 50%

.map.show-4:nth-child(2)
	position absolute
	top 0
	right 0
	width 50%
	height 50%
	
.map.show-4:nth-child(3)
	position absolute
	left 0
	bottom 0
	width 50%
	height 50%
	
.map.show-4:nth-child(4)
	position absolute
	right 0
	bottom 0
	width 50%
	height 50%
	
//5 maps	

.map.show-5:nth-child(1)
	position absolute
	top 0
	left 0
	height 100%
	width 33.33%

.map.show-5:nth-child(2)
	position absolute
	top 0
	left 33.33%
	width 33.33%
	height 50%

.map.show-5:nth-child(3)
	position absolute
	top 0
	left 66.67%
	width 33.33%
	height 50%

.map.show-5:nth-child(4)
	position absolute
	top 50%
	left 33.33%
	width 33.33%
	height 50%
	
.map.show-5:nth-child(5)
	position absolute
	top 50%
	left 66.67%
	width 33.33%
	height 50%
	
//6 maps	

.map.show-6:nth-child(1)
	position absolute
	top 0
	left 0
	height 50%
	width 33.33%

.map.show-6:nth-child(2)
	position absolute
	top 0
	left 33.33%
	width 33.33%
	height 50%

.map.show-6:nth-child(3)
	position absolute
	top 0
	left 66.67%
	width 33.33%
	height 50%

.map.show-6:nth-child(4)
	position absolute
	top 50%
	left 0
	width 33.33%
	height 50%
	
.map.show-6:nth-child(5)
	position absolute
	top 50%
	left 33.33%
	width 33.33%
	height 50%
	
.map.show-6:nth-child(6)
	position absolute
	top 50%
	left 66.67%
	width 33.33%
	height 50%

.basemap-gallery-titlepane-holder
	position absolute
	left 100px
	top 10px
	z-index 10
	
.basemap-gallery
	width 100%
	position absolute
	right 0px
	top 0px
	bottom 0px
	left 0px

.theme-titlepane-holder
	position absolute
	left 200px
	top 10px
	z-index 10
	
	.dijitButtonNode
		background-color yellow
	
.theme-gallery
	width 100%
	position absolute
	right 0px
	top 0px
	bottom 0px
	left 0px

.legend-titlepane-holder
	position absolute
	bottom 10px
	left 10px
	z-index 10
	
.basemap-contentpane
	width 200px
	height 200px

	
.legend
	width 100%
	position absolute
	right 0px
	top 0px
	bottom 0px
	left 0px
	
zoom-to-place-widget
	position absolute
	right 0px
	top 0px
	z-index 100
	
	select
		width 100px
		height 30px
		background-color #999
		border 0px solid #222
		color #FFF
		
theme-widget
	position absolute
	right 10px
	top 20px
	z-index 100
	
	.themeItem
		display inline-block
		width 90px
		background-color #CCC
		height 80px
		overflow hidden
		
	.themeItem:hover
		height 120px
			
	.themeTitle
		color #FFF
		background-color #000
		padding 10px
		
	.mapIndex div
		display inline-block
		cursor pointer
		font-size 10px
				
.dijitPopup.dijitTooltipDialogPopup
	transition opacity 1s ease-out
	
.HomeButton:hover,
.locationButton:hover,
.syncMaps:hover,
.esriSimpleSlider:hover
	opacity 1.0
	
.HomeButton
	position: absolute
	top 95px
	left 20px
	z-index 100
	opacity 0.2
	
.locationButton
	opacity 0.2	
	position absolute
	top 135px
	left 20px
	z-index 100
	width 30px
	height 30px
	background-image url('../images/my_location.png')
	cursor pointer
	border-radius 5px
	
.syncMaps
	opacity 0.2	
	position absolute
	top 175px
	left 20px
	z-index 100
	width 30px
	height 30px
	background-image url('../images/sync_maps.png')
	background-color blue	
	cursor pointer
	border-radius 5px

