doctype html
html(lang='en')
  head
    title BlueRaster Template App
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    // Inline Critical CSS
    style(type='text/css').
      body {
        background-color:red;
      }     
    script(type='text/javascript' src='../app/main.js' async)
  body