html,
body,
.map-container,
#map {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
/*App Stylus*/
.app-container {
  width: 100%;
  height: 100%;
}
/*Map Stylus*/
.map-container {
  background-color: #ffa500 !important;
  position: relative;
  width: 100%;
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
}
.basemap-gallery-container {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  width: 130px;
  background-color: #00f;
  z-index: 100;
}
.basemap-gallery {
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.legend-container {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 210px;
  width: 130px;
  background-color: #00f;
  z-index: 100;
}
.legend {
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
/*Map Stylus*/
.tools-container {
  position: absolute;
  right: 100px;
  top: 10px;
  width: 130px;
  background-color: #00f;
  z-index: 100;
}
