/*Variables Stylus*/
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.appAlertDialog {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  min-height: 30px;
  background-color: #fff;
  top: 200px;
  font-size: 12px;
  padding: 10px;
}
.clickable {
  cursor: pointer;
}
.blocker {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000000;
  background-color: #ccc;
  opacity: 0.5;
}
.app .dijitButtonNode {
  background: #ccc;
}
.app .dijitHover .dijitButtonNode {
  background: #eee;
}
/*App Stylus*/
.app-container {
  width: 100%;
  height: 100%;
}
/*Header Stylus*/
.dashboard-container {
  background-color: #eee !important;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50px;
}
/*Header Stylus*/
.header-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  z-index: 100;
  background-color: #008000;
}
.menu-item {
  padding: 10px;
}
.menu-item.selected {
  text-decoration: underline;
}
/*Map Stylus*/
.map-container {
  background-color: #ffa500 !important;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50px;
}
.map {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.map.selected-map {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ff0;
}
.map.show-1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.map.show-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}
.map.show-2:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
}
.map.show-3:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}
.map.show-3:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 50%;
}
.map.show-3:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}
.map.show-4:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
}
.map.show-4:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
}
.map.show-4:nth-child(3) {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}
.map.show-4:nth-child(4) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}
.map.show-5:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.33%;
}
.map.show-5:nth-child(2) {
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33%;
  height: 50%;
}
.map.show-5:nth-child(3) {
  position: absolute;
  top: 0;
  left: 66.67%;
  width: 33.33%;
  height: 50%;
}
.map.show-5:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 33.33%;
  width: 33.33%;
  height: 50%;
}
.map.show-5:nth-child(5) {
  position: absolute;
  top: 50%;
  left: 66.67%;
  width: 33.33%;
  height: 50%;
}
.map.show-6:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 33.33%;
}
.map.show-6:nth-child(2) {
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33%;
  height: 50%;
}
.map.show-6:nth-child(3) {
  position: absolute;
  top: 0;
  left: 66.67%;
  width: 33.33%;
  height: 50%;
}
.map.show-6:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 33.33%;
  height: 50%;
}
.map.show-6:nth-child(5) {
  position: absolute;
  top: 50%;
  left: 33.33%;
  width: 33.33%;
  height: 50%;
}
.map.show-6:nth-child(6) {
  position: absolute;
  top: 50%;
  left: 66.67%;
  width: 33.33%;
  height: 50%;
}
.basemap-gallery-titlepane-holder {
  position: absolute;
  left: 100px;
  top: 10px;
  z-index: 10;
}
.basemap-gallery {
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.theme-titlepane-holder {
  position: absolute;
  left: 200px;
  top: 10px;
  z-index: 10;
}
.theme-gallery {
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.legend-titlepane-holder {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}
.basemap-contentpane {
  width: 200px;
  height: 200px;
}
.legend {
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
zoom-to-place-widget {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
}
zoom-to-place-widget select {
  width: 100px;
  height: 30px;
  background-color: #999;
  border: 0px solid #222;
  color: #fff;
}
theme-widget {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 100;
}
theme-widget .themeItem {
  display: inline-block;
  width: 80px;
  background-color: #ccc;
  height: 40px;
  overflow: hidden;
}
theme-widget .themeItem:hover {
  height: 80px;
}
theme-widget .themeTitle {
  color: #fff;
  background-color: #000;
  padding: 10px;
}
theme-widget .mapIndex div {
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
}
.dijitPopup.dijitTooltipDialogPopup {
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
/*Map Stylus*/
.tools-container {
  position: absolute;
  right: 250px;
  top: 5px;
  z-index: 200 !important;
}
.share-container {
  width: 300px;
  height: 40px;
  float: left;
}
