html, body
	padding 0px
	margin 0px
	height 100%
	width 100%
	overflow hidden
	
.appAlertDialog
	position absolute
	left 50%
	margin-left -100px
	width 200px
	min-height 30px
	background-color #FFF
	top 200px
	font-size 12px
	padding 10px
	
.clickable
	cursor pointer
	
.blocker
	position absolute
	left 0
	right 0
	bottom 0
	top 0
	z-index 10000000
	background-color #CCC
	opacity 0.5
	

/*App Stylus*/	
@import "../js/components/app/appStyle.styl"

/*Header Stylus*/	
@import "../js/components/dashboard/dashboardStyle.styl"

/*Header Stylus*/	
@import "../js/components/header/headerStyle.styl"

/*Map Stylus*/	
@import "../js/components/map/mapStyle.styl"

/*Map Stylus*/	
@import "../js/components/tools/toolsStyle.styl"


