$headerHeight=50px
$buttonsColor=#505C9B
$buttonsHoverColor=#505C9B
$buttonsTextColor=#9d9d9d
$buttonsTextHoverColor=#FFFFFF
$toolsBackground=rgba(0, 0, 0,1.0)
$toolsBackgroundHover=rgba(80, 92, 155, 0.8)
$tooltipColor=rgba(80, 92, 155, 0.3)
$mapBackground=rgba(181, 208, 208, 1)
