.header-container
	position absolute
	left 0
	top 0
	right 0
	height $headerHeight
	z-index 100
	background-color green
	
.menu-item
	padding 10px
	
.menu-item.selected
	text-decoration underline
	
.navbar-inverse
	background-color #444C94