div.header-container()
	nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
		div.navbar-header()
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
				span.sr-only() Toggle navigation
				span.icon-bar()
				span.icon-bar()
				span.icon-bar()					
		div#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav(data-bind="foreach:viewLinks")
				li(data-bind="click:$root.selectView,css:{active:selected}" class="clickable")
					a(href="#" data-bind="html:label")

