div(class="app-container")
	ol(id="joyRideTipContent")
		li(data-class="header-container" data-text="more" class="custom" data-options="tipLocation:top;tipAnimation:fade")
			h2() Navigate Views
			p() You can change views by clicking on these links
		li(data-class="tools-container" data-button="more" data-options="tipLocation:top;tipAnimation:fade;")
			h2() Share and Tools
			p() Share your map and add or remove maps from here
		li(data-class="basemap-gallery-titlepane-holder" data-button="more" data-options="tipLocation:top;tipAnimation:fade") 
			//-nubPosition:bottom
			h2() Basemaps
			p() Switch basemaps to view your operational layers on a reference map. There are several options to pick from.
				<br> Hybrid, Street etc.
		li(data-class="legend-titlepane-holder" data-options="tipLocation:top;tipAnimation:fade;nubPosition:bottom")
			h2() Legend
			p() View legend.
		li(data-class="esriSimpleSlider" data-options="tipLocation:top;tipAnimation:fade")
			h2() Slider
			p() Map navigation.