
<div class="app-container">
  <ol id="joyRideTipContent">
    <li data-class="header-container" data-text="more" data-options="tipLocation:top;tipAnimation:fade" class="custom">
      <h2>Navigate Views</h2>
      <p>You can change views by clicking on these links</p>
    </li>
    <li data-class="tools-container" data-button="more" data-options="tipLocation:top;tipAnimation:fade;">
      <h2>Share and Tools</h2>
      <p>Share your map and add or remove maps from here</p>
    </li>
    <li data-class="basemap-gallery-titlepane-holder" data-button="more" data-options="tipLocation:top;tipAnimation:fade">
      <h2>Basemaps</h2>
      <p>
        Switch basemaps to view your operational layers on a reference map. There are several options to pick from.
        <br> Hybrid, Street etc.
      </p>
    </li>
    <li data-class="legend-titlepane-holder" data-options="tipLocation:top;tipAnimation:fade;nubPosition:bottom">
      <h2>Legend</h2>
      <p>View legend.</p>
    </li>
    <li data-class="esriSimpleSlider" data-options="tipLocation:top;tipAnimation:fade">
      <h2>Slider</h2>
      <p>Map navigation.</p>
    </li>
  </ol>
</div>