div(class="app-container")
	ol(id="joyRideTipContent")
		li(data-class="header-container" data-text="Next" class="custom")
			h2() Stop #1
			p() You can control all the details for you tour stop. Any valid HTML will work inside of Joyride
		li(data-class="tools-container" data-button="Next" data-options="tipLocation:top;tipAnimation:fade")
			h2() Stop #2
			p() Get the details right by styling Joyride with a custom stylesheet!